@define-color foreground #8a8a8d;
@define-color background #1e1e1e;

* {
    background-color: @background;
    color: @foreground;

    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: monospace;
    font-size: 17px;
}

.modules-left {
    margin-left: 12px;
}

.modules-right {
    margin-right: 12px;
}

#workspaces button {
    all: initial;
    padding: 0 6px;
    margin: 0 1.5px;
    min-width: 9px;
}

#workspaces button.empty {
    opacity: 0.5;
}

#tray,
#cpu,
#battery,
#network,
#bluetooth,
#pulseaudio {
    min-width: 17px;
    margin: 0 7.5px;
}

#custom-power {
    margin-right: 7px;
}

tooltip {
    padding: 2px;
}

#clock {
    margin-left: 8.75px;
}

.hidden {
    opacity: 0;
}

/* TODO: want some kind of hover effect */

/* #workspaces button:hover { */
/*     background: radial-gradient(circle at center, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 70%); */
/* } */

/* #cpu:hover, */
/* #battery:hover, */
/* #network:hover, */
/* #bluetooth:hover, */
/* #pulseaudio:hover { */
/*     background: radial-gradient(circle at center, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 70%); */
/* } */
